$containers: '.login_container', '.sign_in_container';
@each $container_name in $containers{
    /* this file is about login-form */
    #{$container_name}{
        display: none;
        /* Hidden by default */
        z-index: 1;
        /* Sit on top */
        position: fixed;
        /* Stay in place */
        width: 60%;
        height: 350px;
        left: 20%;
        top: 15%;
        background-color: rgba(24, 33, 52, 0.7);
        margin: 0 auto 0 auto;
        text-align: center;
        box-shadow: 0 -5px 0 #3adbfd;
    }

    #{$container_name} input[type="text"] {
        width: 100%;
        height: 50px;
        margin-bottom: 25px;
        border: 3px solid #ccc;
        padding-left: 10px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    #{$container_name} input[type="password"] {
        width: 100%;
        height: 50px;
        margin-bottom: 50px;
        border: 3px solid #ccc;
        padding-left: 10px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    #{$container_name} img {
        width: 120px;
        height: 120px;
        margin: -60px 0 30px 0;
        border: 5px solid #1a394f;
        border-radius: 50%;
        box-shadow: 0 -5px 0 #3adbfd;
    }

}
.login-input input:hover {
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.login-input:hover::before {
    color: #319ebc;
    transition: all 0.3s;
}

.displayNone{
    display: none !important;
}
.showItem{
    display: block !important;
}
