/* this file is about animation of sign-in button (top-rightcorner of the window) */

/* moving zone i don't know excectly why this is called moing zone
because, moning zone is anywhere on the screen */
.moving-zone {
    position: absolute;
    margin-left: 77%;
    top: 2%;
    width: 5%;
    perspective: 800px;
    padding: auto
}

.popup {
    /* position: absolute; */
    width: 65px;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
    transform-style: preserve-3d;
}

.popup:before {
    content: '';
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: inherit;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, .1);
    transform: translateZ(-100px);
}

.popup-content {
    padding: 1px;
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}

.popup-content img {
    width: 80%;
    height: auto;
}

/* for desktop */
@media (min-width:1024px) {

    .moving-zone {
        margin-left: 93%;
    }

}
