.logo {
display : flex;
flex-direction: row;

}
.logo img {
    height: 6rem;
    width: auto;
    margin-right: 2rem;
}

.logo img:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.logo i:hover {
    opacity: 0.3;
}
.key-position {
    margin-left: 10rem;
    padding-right: 2rem;
}
@media (max-width:600px){
    .key-position {
        margin-left: 3rem;
    }
}