
.main_photo_container  i {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 40px;
}

.main_photo_container  i:hover {
  color: #BC4899;
  cursor: pointer;
}

.main_photo_container  i:active  {
  color: #bf0000;
  cursor: pointer;
}


/*grid in the main_photo_container*/

.main_photo_container {
    width: 100%;
    height: 280px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(../images/main_photo1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto auto  auto;
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto auto; */
    grid-gap: 10px;
    padding: 10px;
}

.main_photo_container i {
  font-size: 80px;
}

.addButton{
  position: relative;
  border: 2px solid white;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.addButton:hover{
  background-color:rgba(0, 0, 0, 0.5);
}

@media (max-width:768px) {
  .main_photo_container {
    height: 150px;
}
.main_photo_container i {
  font-size: 40px;
}
}