/* this file is about edit product modal */
.timageButton{
    display:block;
    margin:auto;
    margin-bottom:20px;
    cursor:pointer;
}
#timageFile{
    display:none;
    opacity: 0;
    /* position: absolute; */
    z-index: -1;
}