

.productImage{
  width: 23vh;
  height: 13vh;
  margin: 3px;
}

.sProduct{
  font-size:1.3rem;
  display:flex;
  flex-direction:column;
  position:relative;
  text-align: center;
}
.productName{
  font-weight: bold;
}

/* sProduct div from e-market grid */
.sProduct:hover{
  background-color:rgba(46, 46, 46, 0.1);
  /* cursor:pointer; */
}

.clock_span{
  border-radius: 8px;
  background-color: rgba(255,255,255, 0.5);

}

.backButtonContainer{
  width:50vw;
  margin:auto;
}
/* button that returns visitor on the start page (viewing of countries): */
.BackButton {
  margin:auto;
  margin-top: 0;
  width: 50vw;
  height: auto;
  font-size:1.3rem;
}
.button_dynamic {
  display: inline-block;
  background-color: #DEB887;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 0;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}
.button_dynamic span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_dynamic:hover span {
  padding-right: 25px;
}
.button_dynamic:hover span:after {
  opacity: 1;
  right: 0;
}

/* back button */
.button_back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* back button */
.button_submit span:after {
  content: '\00bb';
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  bottom: 0.000001rem;
  right: -20px;
  transition: 0.5s;
}

/* images for button of countries: */
.light {
  color: #FFCB9C;
}
.dark {
  color: #8C4E17;
}


@media screen and (min-width: 468px) {

  .productImage,
  .City {
    width: 53vh;
    height: 30vh;
    margin: 6px;
  }
  
  .BackButton {
    margin-top: 0.3vw;
    width: 50vw;
    height: auto;
    font-size: 1.3rem;
  }
}

@media screen and (max-width:990px){
  .sProduct img{
    width:100%;
  }
}
@media screen and (max-width:765px){
  .sProduct img{
    width:100%;
  }
}
@media screen and (max-width:570px){
  .sProduct img{
    width: 53vh;
    height:auto;
  }
}
