.my-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* visibility: hidden; */
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100 !important;
}

/* content of the modal */
.my-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 40px 10px 20px;
    width: 80vw;
    height: 90vh;
    border-radius: 0.5rem;
    overflow-y: scroll;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* for desktop screen */
@media screen and (min-width: 1200px) {

    /*1024px*/
    .my-modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 10px 40px 10px 20px;
        width: 80vw;
        height: 90vh;
        border-radius: 0.5rem;
        overflow-y: scroll;
    }
}