

.WebCamVideo,
.City {
  width: 23vh;
  height: 13vh;
  margin: 3px;
}
.CountryButton {
  width: 23vh;
  height: 13vh;
  margin: 6px;
  border-radius: 30px;
}
.aProduct{
  font-size:1.3rem;
  display:flex;
  flex-direction:column;
}
.productName{
  font-weight: bold;
}

/* aProduct div from e-market grid */
.aProduct:hover{
  background-color:rgba(46, 46, 46, 0.1);
  cursor:pointer;
}
/*  .City{
  width:30vw;
  height:30vw;
  margin:6px;
  }
*/
.clock_span{
  border-radius: 8px;
  background-color: rgba(255,255,255, 0.5);

}

/* button that returns visitor on the start page (viewing of countries): */
.BackButton {
  margin-top: 0;
  width: 50vw;
  height: auto;
  font-size:1.3rem;
}
.button_dynamic {
  display: inline-block;
  /* border-radius: 8px; */
  background-color: #DEB887;
  /* background-color: #6495ED; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 0;
  /*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_dynamic span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_dynamic:hover span {
  padding-right: 25px;
}
.button_dynamic:hover span:after {
  opacity: 1;
  right: 0;
}

/* back button */
.button_back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* back button */
.button_submit span:after {
  content: '\00bb';
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  bottom: 0.000001rem;
  right: -20px;
  transition: 0.5s;
}

/*hover effect#1 of Country button*/
/* .grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
} */

/* images for button of countries: */
.light {
  color: #FFCB9C;
}
.dark {
  color: #8C4E17;
}


@media screen and (min-width: 468px) {

  .WebCamVideo,
  .City {
    width: 53vh;
    height: 30vh;
    margin: 6px;
  }
  /* .CountryButton {
    width: 30vw;
    height: 19.6875vw;
    margin: 6px;
    border-radius: 30px;
  } */
  .BackButton {
    margin-top: 0.3vw;
    width: 50vw;
    height: auto;
    font-size: 1.3rem;
  }
}

@media screen and (max-width:990px){
  .aProduct img{
    width:100%;
  }
}
@media screen and (max-width:765px){
  .aProduct img{
    width:100%;
  }
}
@media screen and (max-width:570px){
  .aProduct img{
    width: 53vh;
    height:auto;
  }
}
